<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    
    <add key="API_BASE_URL" value="http://nafscapi.megatech.com.vn" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UPDATER_URL" value="http://nafscapi.megatech.com.vn/updates/autoupdate.xml"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>