<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.4" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="EntityFramework.DynamicFilters" version="3.2.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.17763.1000" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Osklib" version="1.6.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Osklib.Wpf" version="1.6.0" targetFramework="net461" requireReinstallation="true" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net461" />
  <package id="RawPrint" version="0.5.0" targetFramework="net461" />
  <package id="SerialPortStream" version="2.2.2" targetFramework="net461" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net46" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net46" requireReinstallation="true" />
  <package id="THEFilteredComboBox" version="1.0.0" targetFramework="net461" />
  <package id="UwpDesktop-Updated" version="10.0.17763.132" targetFramework="net461" />
  <package id="WebEye.Controls.Wpf.WebCameraControl" version="1.0.3" targetFramework="net46" />
  <package id="WPFTabTip" version="1.2.2" targetFramework="net461" />
  <package id="WPFTouchKeyboard" version="1.0.1" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="5.1.19" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="5.1.19" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="4.0.32" targetFramework="net461" />
</packages>